body {
margin: 0;
padding: 0;
font-family: Arial;
}

.container {
    width: 595px;
    margin: 0 auto;
}
 
.photo {
    width: 72px;
    height: 72px;
}

img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F3E04E;

}

h1{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #101214;
}

h2 {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #101214;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-left {
    display: flex;
    flex-direction: column;
    width: 335px;
}

.container-right {
    display: flex;
    flex-direction: column;
    width: 140px;
}

.heading-left-section {
    font-weight: normal;
    font-size: 7px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #73808D;
}

.heading-right-section {
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    color: #73808D;
}

.content-left-section,
.education-list {
    font-weight: normal;
    font-size: 11px;
    line-height: 18px;
    color: #101214;
}
 
.contact-list,
.skill-list,
.english-content {
    font-weight: normal;
    font-size: 11px;
    line-height: 18px;
    color: #73808D;
}

.contact-list,
.skill-list {
    list-style: none;
    padding: 0;
}

